<div class="bubble-me"><p>så vad händer om jag skriver ett långt jävla meddelande som inte handlar om speciellt mycket</p></div>
<div class="bubble-you">ja du, då får man ett långt svar som handlar om ett meddelande som inte handlar om något. extremt redundant om du frågar mig.</div>
<%= form_tag("", :class => "form-inline") do %>
	<%= text_field_tag :message, nil, :placeholder => "Write a message", :autocomplete => "off" %>
	<%= submit_tag("Send", :id => "chat-send") %>
<% end %>